<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="utf-8">
    <!-- <meta http-equiv="X-UA-Compatible" content="IE=edge"> -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>anywhere note</title>


    <!-- BootstrapのCSS読み込み -->
    <link rel="stylesheet" href="/public/css/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="/public/css/dropzone/min/dropzone.min.css?a=r1712s05d1zdz61s91">

    <!-- jQuery読み込み -->
    <script src="/public/js/jquery.min.js"></script>
    <script src="/public/js/jquery-ui.min.js"></script>
    <!-- BootstrapのJS読み込み -->
    <script src="/public/js/bootstrap/bootstrap.min.js"></script>
    <script src="/public/js/moment.min.js?v=20170907"></script>

    <script src="/public/js/jquery.quicksearch.js"></script>
    <script src="/public/js/dropzone.js"></script>

    <script src="/public/js/additional.js?ver=1232"></script>
    <script src="/public/js/ajax.js?ver=12302"></script>
    <script src="/public/js/livecheck.js?ver=12302"></script>
    <script src="/public/js/edit.js?ver=12302"></script>

    <link rel="stylesheet/less" href="/public/css/additional.less" type="text/css">
    <script src="/public/js/less.min.js?ver=12302"></script>

</head>

<body>


    <div id="flexbox_container">
        <div id="flexbox_left_pane">

            <!-- <div class="left_pane"> -->
            {{template "left_pane" .}}
            <!-- </div> -->
        </div>

        <div id="flexbox_cent_line" class="flexbox_cent_line "></div>

        <div id="flexbox_rght_pane">

            {{template "right_pane" .}}

        </div>

    </div>



    <!-- style="display: none;" -->
    <span id='source_return_value' style="display: none;">{{template "content" .}}</span>
    <span id='source_user_config' style="display: none;"></span>


</body>

</html>